# Backend
backend/target/
backend/*.iml
backend/.idea/
backend/*.log
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db